@model List<hamalba.Models.Oglas>
@using Microsoft.AspNetCore.Identity
@{
    var prijavljeniOglasi = ViewBag.PrijavljeniOglasi as List<int> ?? new List<int>();
}

<h2>Svi Oglasi</h2>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
        <div class="d-flex justify-content-end">
            <a class="btn btn-primary ms-2" href="/Oglasi/CreateOglas">Kreiraj oglas</a>
        </div>
}
<table class="table">
    <thead>
        <tr>
            <th>Naslov</th>
            <th>Rok</th>
            <th>Cijena</th>
            <th>Lokacija</th>
            <th>Status</th>
            <th>Radnja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oglas in Model)
        {
            <tr>
                <td>@oglas.Naslov</td>
                <td>@oglas.Rok.ToShortDateString()</td>
                <td>@oglas.Cijena.ToString("N2")</td>
                <td>@oglas.Lokacija</td>
                <td>@oglas.Status.ToString()</td>
                <td>
                    @if (oglas.Status == OglasStatus.Aktivan)
                    {
                        <form asp-action="PrijaviSe" method="post">
                            <input type="hidden" name="oglasId" value="@oglas.OglasId" />
                            <button type="submit" class="btn btn-primary">Prijavi se</button>
                        </form>
                    }
                    else if (oglas.Status == OglasStatus.InProces)
                    {
                        <span class="text-info">Posao je u procesu</span>
                    }
                    else if (oglas.Status == OglasStatus.Obavljen)
                    {
                        <span class="text-success">Posao je obavljen</span>
                    }
                    <a asp-action="Detalji" asp-route-id="@oglas.OglasId" class="btn btn-secondary ml-2">Pregled</a>
                </td>
            </tr>
        }
    </tbody>
</table>